---
title: 關於我
date: 2026-02-11
---

{% extends "base.njk" %}

{% block content %}

  <h1>{{ title }}</h1>

  <div class="meta">
    <time>最後更新：{{ page.date | readableDate }}</time>
  </div>

  <div>
   
<h3>可以說的</h3>
<p>
🎴平面設計：<br>
中部一間大學的綜合設計系畢，目前從事著平面設計性質的工作。<br>
<br>
🥁鼓手、管樂手、編曲家：<br>
從小學習爵士鼓演奏，國中開始接觸管樂至今。<br>
<br>
📷接案攝影：<br>
以活動紀錄、商品攝影為主。<br>
</p>

<h3>喜歡玩的</h3>
<p>


<h3>如何找到我</h3>
instagram:

  </div>

{% endblock %}
