{% extends "base.njk" %}

{% block content %}
<div class="layout">
  <!--
  <aside>
      <h2>文章列表</h2>
      <ul>
        {% for post in collections.posts %}
        {% set isCurrent = post.url == page.url %}
        <li class="{% if isCurrent %}active{% endif %}">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
  </aside>
  -->

<article>
  <a href="/posts/">返回文章列表</a>
  <h1>{{ title }}</h1>

  <div class="meta">
    <time>{{ page.date | readableDate }}</time>
    · {{ content | readingTime }} min read
    · {{ content | charCount }} count
  </div>

  <div class="content">
    {{ content | safe }}
  </div>

  <nav class="post-nav">
    {% if page.previous %}
      <a href="{{ page.previous.url }}">← {{ page.previous.data.title }}</a>
    {% endif %}

    {% if page.next %}
      <a href="{{ page.next.url }}">{{ page.next.data.title }} →</a>
    {% endif %}
  </nav>
  <a href="/posts/">返回文章列表</a>
</article>
</div>
{% endblock %}
