{% extends "base.njk" %}

{% block content %}
<div class="layout">
<article>
  <div class="meta">
  <a href="/posts/">返回文章列表</a>
  </div>
  
  <h1>{{ title }}</h1>

  <div class="meta">
    <time>{{ page.date | readableDate }}</time>
    · {{ content | readingTime }} min read
    · {{ content | charCount }} count
  </div>
  <hr>

  <div class="content">
    {{ content | safe }}
  </div>

  <nav class="post-nav">
    {% if page.previous %}
      <a href="{{ page.previous.url }}">← {{ page.previous.data.title }}</a>
    {% endif %}

    {% if page.next %}
      <a href="{{ page.next.url }}">{{ page.next.data.title }} →</a>
    {% endif %}
  </nav>
  
  <div class="meta">
  <hr>
  &nbsp;如果你看完了這篇文章，歡迎傳Email與我交流！哪怕是個「已讀、閱」也沒問題。<br> 
  &nbsp;namitzmusic@gmail.com <a href="mailto:namitzmusic@gmail.com">超連結點這</a><br>
  <br>
  <a href="/posts/">返回文章列表</a>
  </div>

  <!--
  <aside>
  <h2>文章列表</h2>
  <ul>
    {% for post in collections.posts %}
    {% set isCurrent = post.url == page.url %}
    <li class="{% if isCurrent %}active{% endif %}">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
  </aside>
  -->

</article>
</div>
{% endblock %}
