{% extends "base.njk" %}

{% block content %}
<article class="work">

  <header>
    <nav class="meta">
      <a href="/works/">返回作品列表</a>
    </nav>
    <h1>{{ title }}</h1>
    
    <div class="meta">
      {% if workType %}
        <span class="work-type">
          {{ workType | capitalize }}
        </span>
      {% endif %}
    &nbsp; <!--插一個空白-->
    <time datetime="{{ page.date | readableDate }}">{{ page.date | readableDate }}</time>
    </div>
  </header>

  <hr>

  <section class="work-content">
    {{ content | safe }}
  </section>

  <hr>

  <nav class="meta">
    &nbsp;喜歡這個作品嗎？歡迎傳Email與我聯繫！<br> 
    &nbsp;namitzmusic@gmail.com <a href="mailto:namitzmusic@gmail.com">超連結點這</a><br>
    <br>
    <a href="/works/">返回作品列表</a>
  </nav>

</article>
{% endblock %}