---
title: 相片集
---

{% extends "base.njk" %}

{% block content %}
  <header>
    <h1>
      {{ title }}
    </h1>
  </header>

  <div class="gallery-grid">
    {% for photo in collections.photos %}
      <div class="gallery-item">
        {% responsiveImage photo.path, photo.name, "(max-width: 768px) 100vw, 200px" %}
      </div>
    {% endfor %}
  </div>
{% endblock %}