---
title: Namitz 's
---

{% extends "base.njk" %}

{% block content %}
<h1>Namitz 's space</h1>
<h3>我是誰</h3>
<p>本業是平面設計性質。另外是一位兼職鼓手、管樂手、編曲家、攝影師。</p>
<h3>如何使用本站</h3>
<p>這是個純粹的個人空間，放著我的一些作品產出與碎念。</p>
<p>你可以從左列移動到我的貼文、作品集以及關於我。</p>
<p>想試試看極簡，沒有漂亮模板請見諒。</p>
<img src="/images/sign.png" alt="首頁圖" class="title-image" />

{% endblock %}
