---
title: Namitz 's
---

{% extends "base.njk" %}

{% block content %}
<img src="/images/sign.png" alt="個人空間圖片" class="hero-image" />
<h1>Namitz 's space</h1>
<h3>我是誰</h3>
<p>姑且算是一名平面設計師。另外是一位兼職鼓手、打擊樂手、編曲家。</p>
<h3>如何使用本站</h3>
<p>很純粹的個人空間，放著一些作品產出與碎念。</p>
<p>可以從左列移動到我的貼文、作品集以及關於我。</p>
<p>有點想追求極簡的意思，沒有好看模板請見諒。</p>


{% endblock %}
