---
title: Namitz 's
---

{% extends "base.njk" %}

{% block content %}
<h1>Namitz 's anchor</h1>
<p>這裡是Namitz的錨點，你可以從這裡看到，Namitz是怎麼從這裡定義他自己。<br></p>

<p>
<b>*麥克風噪音*</b><br>
你好，我是Namitz，一位樂團鼓手、單簧管樂手、編曲愛好者。<br>
也是一位美術編輯、街頭攝影師、接案攝影師。<br>
也是一位歐文字體設計師、繪師。<br>
其他沒那麼重要的可以去<a href="/about">關於</a>看。
</p>

<p>
<b>如何使用本站</b><br>
這是個純粹的個人空間，放著我的一些產出與碎念。<br>
你可以從下面導覽列進行移動。<br> 
如果想跟我對話，或想提出合作邀約，在<a href="/about">關於</a>中有我的聯絡方式。<br>
希望你看得習慣。</p>
<img src="/images/sign.png" alt="首頁圖" class="title-image" />

{% endblock %}
