---
title: 標籤
pagination:
  data: collections.tagList
  size: 1
  alias: tagData
  addAllPagesToCollections: false
permalink: /tags/{{ tagData.slug }}/index.html
---

{% extends "base.njk" %}

{% block content %}

<header>
  <h2>#{{ tagData.label }}</h2>
  <p>這個標籤分類的相關文章。</p>
    <div class="meta">
  <a href="/posts/">←文章列表</a><br>
  <a href="/tags/index.html">←標籤分類頁面</a>
  </div>
  <hr>
</header>

{% if tagData.posts.length > 0 %}
  <ul>
    {% for post in tagData.posts | sort(attribute='date') | reverse %}
      <li>
        <span class="meta">{{ post.date | strftime("%Y-%m-%d") }}</span>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>目前沒有相關文章。</p>
{% endif %}

{% endblock %}
