---
title: 作品集
---

{% extends "base.njk" %}

{% block content %}
<header>
  <h1>
    {{title}}
  </h1>
  <p>
    這邊是我的編曲作品。<br>
    也可以前往
    <a href="https://www.youtube.com/@NamitzMusic">YouTube頻道</a>看看。<br>
  </p>
</header>

<ul class="works-list">
  {% for work in collections.works %}
  <li class="work-item">
    <h2><a href="{{ work.url }}">{{ work.data.title }}</a></h2>
    <p class="work-meta">
      {% if work.data.workType %}
        <span class="work-type">{{ work.data.workType | capitalize }}</span>
      {% endif %}
      {% if work.data.date %}
        <time datetime="{{ work.data.date | readableDate }}">{{ work.data.date | readableDate }}</time>
      {% endif %}
    </p>
    {% if work.data.description %}
      <p>{{ work.data.description }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}